# <center>Python Basics<center/> 
<img height="60" width="120" src="https://www.python.org/static/img/python-logo-large.png?1414305901"></img>

<b>Welcome</b> to Python tutorial. For your benefit we have broken down the entire tutorial into multiple parts so that you can take it step by step. Please learn Python in the sequence of the notebooks and topic wise as per the Table Of Contents.

Wish you a Happy Learning!
<br/>
<br/>
<br/>
<br/>

# Table of contents
<br/>
<a href = "#1.-Python-Keywords">1. Python Keywords</a>

<a href = "#2.-Identifiers">2. Identifiers</a>

<a href = "#3.-Comments-in-Python">3. Comments in Python</a>

<a href = "#4.-Python-Indentation">4. Python Indentation</a>

<a href = "#5.-Python-Statement">5. Python Statement</a>

# 1. Python Keywords

Keywords in Python are reservered words that cannot be used as ordinary
identifiers.<p/>
They must be spelled exacty as they are written. <p/>
The 33 keywords in Python 3.6 are:<p/>

<table width='100%'>
<tr><th>and</tc><th>del</tc><th>from</tc><th>not</tc><th>while</tc></tr>
<tr><th>as</tc><th> elif</tc><th>global</tc><th>or</tc><th> with</tc></tr>
<tr><th>assert</tc><th>else</tc><th>if</tc><th> pass</tc><th>yield</tc></tr>
<tr><th>break</tc><th> except</tc><th>import</tc><th>print</tc></tr>
<tr><th>class</tc><th> exec</tc><th>in</tc><th> raise</tc></tr>
<tr><th>continue</tc><th>finally</tc><th> is</tc><th> return </tc></tr>
<tr><th>def</tc><th>for</tc><th>lambda</tc><th>try</tc></tr>
</table>

# **The import Keyword**

In [1]:
#To extract all keywords in python 3.6 use the below code

import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [30]:
import math
pie = math.pi
print("The value of pi is : ",pie)

The value of pi is :  3.141592653589793

In [31]:
from math import pi
 
print("The value of pi is : ",pie)

The value of pi is :  3.141592653589793

In [32]:

from math import *
print(pi)
print(factorial(5))
print(sqrt(16))
print(pow(3,3))

3.141592653589793
120
4.0
27.0

In [2]:
from platform import python_version

print(python_version())

3.7.15

In [3]:
# Number of keywords are 
print("keywords in python 3.7 are:", len(keyword.kwlist))

keywords in python 3.7 are: 35

# **assert keyword**

In [33]:
x = "PYTHON"

#if condition returns True, then nothing happens:
assert x == "PYTHON"

In [34]:
#if condition returns False, AssertionError is raised:
assert x == "PROGRAMMING"

AssertionError: ignored

# **except keyword**

In [35]:
x = "PYTHON"

try:
  x > 3
except NameError:
  print("You have a variable that is not defined.")
except TypeError:
  print("You are trying to compare values of different type where x is a string and 3 is a number")

You are trying to compare values of different type where x is a string and 3 is a number

In [36]:
a = [1, 2, 3]
try: 
    print ("Second element = %d" %(a[1]))
  
    # Throws error since there are only 3 elements in array
    print ("Fourth element = %d" %(a[3]))
  
except:
    print ("An error occurred")

Second element = 2
An error occurred

# Python Built-in Exceptions

<p><b>ArithmeticError</b>	Raised when an error occurs in numeric calculations</p>
<p><b>AssertionError</b>	Raised when an assert statement fails</p>
<p><b>AttributeError</b>	Raised when attribute reference or assignment fails</p>
<p><b>Exception	</b>Base class for all exceptions</p>
<p><b>EOFError	</b>Raised when the input() method hits an "end of file" condition (EOF)</p>
<p><b>FloatingPointError	</b>Raised when a floating point calculation fails</p>
<p><b>GeneratorExit	</b>Raised when a generator is closed (with the close() method)</p>
<p><b>ImportError	</b>Raised when an imported module does not exist
<p><b>IndentationError	</b>Raised when indendation is not correct
<p><b>IndexError	</b>Raised when an index of a sequence does not exist
<p><b>KeyError	</b>Raised when a key does not exist in a dictionary
<p><b>KeyboardInterrupt	</b>Raised when the user presses Ctrl+c, Ctrl+z or Delete
<p><b>LookupError	</b>Raised when errors raised cant be found
<p><b>MemoryError	</b>Raised when a program runs out of memory
<p><b>NameError	</b>Raised when a variable does not exist
<p><b>NotImplementedError	</b>Raised when an abstract method requires an inherited class to override the method
<p><b>OSError	</b>Raised when a system related operation causes an error
<p><b>OverflowError</b>	Raised when the result of a numeric calculation is too large
<p><b>ReferenceError	</b>Raised when a weak reference object does not exist
<p><b>RuntimeError	</b>Raised when an error occurs that do not belong to any specific expections
<p><b>StopIteration	</b>Raised when the next() method of an iterator has no further values
<p><b>SyntaxError	</b>Raised when a syntax error occurs
<p><b>TabError	</b>Raised when indentation consists of tabs or spaces
<p><b>SystemError	</b>Raised when a system error occurs
<p><b>SystemExit	</b>Raised when the sys.exit() function is called
<p><b>TypeError</b>	Raised when two different types are combined
<p><b>UnboundLocalError</b>	Raised when a local variable is referenced before assignment
<p><b>UnicodeError	</b>Raised when a unicode problem occurs
<p><b>UnicodeEncodeError</b>	Raised when a unicode encoding problem occurs
<p><b>UnicodeDecodeError</b>	Raised when a unicode decoding problem occurs
<p><b>UnicodeTranslateError</b>	Raised when a unicode translation problem occurs
<p><b>ValueError</b>	Raised when there is a wrong value in a specified data type
<p><b>ZeroDivisionError</b>	Raised when the second operator in a division is zero

# **The pass Keyword**

Since Python doesn’t have block indicators to specify the end of a block, the pass keyword is used to specify that the block is intentionally left blank. It’s the equivalent of a no-op, or no operation.

In [37]:
def my_function():
    pass

class MyClass:
    pass

if True:
    pass

# **The lambda Keyword**
The lambda keyword is used to define a function that doesn’t have a name and has only one statement, the results of which are returned.

In [50]:
fun = lambda x: x**3

print(fun(5))
        


def fun(x):
    return x**3
print(fun(5))

125
125

# 2. Identifiers

Identifiers (also referred to as names) is given to entities like class, functions, variables etc. in Python. It helps differentiating one entity from another.

Rules for Writing Identifiers:

1. Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

2. An identifier cannot start with a digit. <i>'99somename'</i> is invalid, but <i>'somename99'</i> is perfectly fine.

3. Keywords cannot be used as identifiers.

In [4]:
99name = 100

SyntaxError: ignored

In [6]:
name99 = 100      
print(name99)

100

In [7]:
break == 1

SyntaxError: ignored

 We cannot use special symbols like !, @, #, $, % etc. in our identifier.

In [8]:
hello@ = 10

SyntaxError: ignored

### Few more correct identifiers

In [10]:
hello = 10
print('variable1: ',hello)

hello123 = 50
print('variable2: ',hello123)

hello_123 = "hi"
print('variable3: ',hello_1)

variable1:  10
variable2:  50
variable3:  hi

# 3. Comments in Python

A comment may appear at the start of a line or following whitespace or code, but not within a string literal.<br/>
A hash character within a string literal is just a hash character.<br/>
Comments are lines that are ignored by compilers and interpreters. <br/>
### This is one of the best way to convey the idea behind the code and people reusing your code can easily make sense of your code

### Single line comment

In [13]:
# This is a single line comment. Has no effect on the code below
abc= 10
print(abc)

10

In [12]:
b=10
c=9
d="hi"
print(b)
print(c)
print(d)

10
9
hi

### Multi line comment

In [14]:
# You can write multiple lines of comment by putting a '#' at the beginning
# You can write multiple lines of comment by putting a '#' at the beginning
# You can write multiple lines of comment by putting a '#' at the beginning

### Docstring

Docstring is short for documentation string.<p/>

String that occurs as the first statement in a module, function, class, <br/>
or method definition. Used to define what a function/class does.

In [ ]:
"""
A better option to write multi line comment is by adding all your 
text between a set of 3-single or 3-double quotes. Like we have done here
"""

'\nA better option to write multi line comment is by adding all your \ntext between a set of 3-single or 3-double quotes. Like we have done here\n'

In [15]:
'''
a==                                                9
  b=                                                10
'''

'\na==                                                9\n  b=                                                10\n'

In [17]:
def square(num):

    
    """
    Function to square a number. 
    Print this docstring using __doc__ attribute of the function
    """
    return num * num

print(square(20))

400

In [18]:
print(square.__doc__)      # To print the docstring of a function use the __doc__ attribute of the function

    Function to square a number.
    Print this docstring using __doc__ attribute of the function

# 4. Python Indentation

Unlike C, C++, Java where we use braces { } to define a block of code, in Python we use indentation.

A code block (body of a function, loop etc.) starts with indentation and ends with the first unindented line. The amount of indentation is up to you, but it must be consistent throughout that block.

Generally four whitespaces are used for indentation and is preferred over tabs.

Leading whitespace (spaces and tabs) at the beginning of a logical line is used to compute the indentation level of the line, <b>which in turn is used to determine the grouping of statements</b>.

In [51]:
v1 = 10 
  v2 = 20          # Logical continuation disrupted

IndentationError: ignored

In [52]:
                    v1 = 10 
  v2 = 20

IndentationError: ignored

In [53]:
           v1 = 10 
           v2 = 20

In [54]:
for i in range (1,4):
print(i) # Logical continuation maintained
   
    
print("end")

IndentationError: ignored

In [57]:
for i in range (1,4):
  print(i) # Logical continuation maintained
  print("end")

1
end
2
end
3
end

In [58]:
for i in range (1,4):
  print(i) # Logical continuation maintained
print("end")

1
2
3
end

# 5. Python Statement

Instructions that a Python interpreter can execute are called statements. For example, a = 1 is an assignment statement. if statement, for statement, while statement etc. are other kinds of statements which will be discussed later.

### Single-line statement

In [ ]:
number = 10
num = 12,23,24,25

print(number)
print(num)

10
(12, 23, 24, 25)

### Multi-line statement 
(Use a continuation character '\')

In [25]:
number = 10 + 20 + \
         30 + 40 + \
         50

print(number)

150

(Alternately use brackets)

In [27]:
number = (10 + 20 + 
         30 + 40 + 
         50)
    
print(number)

150

# **Variables**

A variable is an alias given to a location in memory that is used to store some data (value).

Each data point stored in the memory is given unique name to differentiate between different memory locations (and thus data points).
The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

**Variable assignements**
We use the assignment operator (=) to assign values to a variable

In [63]:
int = 4
dec = 22.2
str = '''string'''
str = 'string'
str = ''string''
str= "string"
print(int, dec, str,str,str,str)

SyntaxError: ignored

In [64]:
a=10
b=3.5
c="welcome"

print(a,b,c)

10 3.5 welcome

**Multiple assignements**
Use comma to seperate the variables and their corresponding values

In [66]:
int, dec, str = 4, 22.2, "StringValue"
print(int, dec, str)

4 22.2 StringValue

To initialize multiple variables with same value use 1 assignment

In [67]:
variable1=variable2=variable3 = " All variable assigned same value "
print(variable1,variable2,variable3)

 All variable assigned same value   All variable assigned same value   All variable assigned same value

**Storage Locations**

In [69]:
int = 4
print(id(int))

11126784

In [45]:
a=10

b=10.7

print(id(a))

print(id(b))

11126976
140358863768272

In [70]:
int1 = 10
int2 = 10
inti=10

print(id(integer1))   
print(id(integer2))   
print(id(inti))

11126976
11126976
11126976

# **Data Types**
Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

Below are few of the commonly used data types

**Python Numbers**
Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the **type()** function to know which class a variable or a value belongs to
and the **isinstance()** function to check if an object belongs to a particular class.

In [ ]:
data1 = 25.88                              # integer data type
print(data1, " is of type", type(data1))

In [ ]:
a='welcome'
type(a)

In [ ]:
a="welcome"

b=40

print(a)
print(b)
print(type(a))
print(type(b))

In [ ]:
data2 = 12.5                            # float data type
print(data2, " is of type", type(data2))

In [ ]:
data3 = 100 + 20j                          #data type is changed to complex number
print(data3, " is complex number?", isinstance(data3, complex))

**Boolean**

Boolean represents True or False values

In [ ]:
booleanVariable = True                          # 'booleanVariable' is a boolean type & True is a keyword
print(type(booleanVariable))

**Python Strings**

String is sequence of Unicode characters. We can use single quotes or double quotes to represent strings.
Multi-line strings can be denoted using triple quotes(single/double), ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters.

Strings can be indexed - often synonymously called subscripted as well.

The first character of a string has the index 0.

In [72]:
s = "This is a string variable"
print('stringVariable is : ',s)
print('First character in stringVariable is : ',s[1:3])

stringVariable is :  This is a string variable
First character in stringVariable is :  hi

In [73]:
# Slicing of String variable
print(stringVariable[0:7])
print(stringVariable[:7])
print(stringVariable[5:])

StringV
StringV
gValue

In [74]:
name="welcome to zetacoding innovative solutions"

print(name[0:5])

print(name[7:20])

print(name[:10])

print(name[::])

print(name[10:27])

welco
 to zetacodin
welcome to
welcome to zetacoding innovative solutions
 zetacoding innov

# **Python List**

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible.

All the items in a list do not need to be of the same type.

Declaring a list is pretty straight forward. Items separated by commas are enclosed within square brackets '[ ]'.

In [75]:
myList = [1, 2.2, "ThirdElement",12,24,"More values"]
print(myList)

[1, 2.2, 'ThirdElement', 12, 24, 'More values']

In [76]:
print(myList[2])

ThirdElement

In [ ]:
myList[2] = "ElementThree"
print(myList)

In [ ]:
myList.remove(2.2)                             # Remove item from a particular index
print(myList)

In [ ]:
myList.pop(2)                                 # Remove item from a particular index
print(myList)

In [ ]:
myList.append(2.2)                            # Add item at the last index
print(myList)